@font-face {
    font-family: 'Repro';
    src: url(fonts/ABCRepro-Thin-Trial.otf);
}

:root { --spacing: 12px; }

@media (min-width: 768px) {
	:root { --spacing: 32px; }
}

body {
    background-color: #F9F9F9;
}


h1 {
    font-family: 'Repro', sans-serif;
    color:#888888;
    font-size: 13px;

    line-height: 80%;
}





  .header {
	padding: 4%;
	padding-top: 15px;
	position: fixed;
	width: 100%;
	background-color: #F9F9F9;
	z-index: 1;

	box-shadow: 0px 30px 20px 0px #F9F9F9 ;
	display: grid;
	grid-template-columns: repeat(3, 1fr);

}
	

.image-blocks {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(4 * var(--spacing)), 1fr));
	}




figure {
	overflow: hidden;
	word-break: break-word;
}

figure, img {
  padding: 8%;
}


main {
	padding: 4%;
	padding-top: 80px;
}

figure > img { object-fit: cover; }

.image-block aside {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0, 0.1);
	z-index: 2;
}

.image-block aside > img {
	object-fit: contain;

}

.image-block.active aside {
	display: block;
	display: flex;
	justify-content: center;
}

.image-block aside > p {
	color: white;
}

.full-name {
	font-family: 'Repro', sans-serif;
    color:#888888;
	line-height: 1.2;
	font-size: 13px;
}

.random {
	font-family: 'Repro', sans-serif;
    color:#888888;
	line-height: 1.2;
	font-size: 13px;
}

.contributors {
	font-size: 12px;
	color:#888888;
padding-bottom: 5px;
	
}


.channel-owner, .channel-collaborator {



}



figure img {
	transition: transform 2s ease-in-out;
	/* transition: opacity 10s ease-in-out ; */
	transition-duration: 1s;
	will-change: transform;
  }
  
figure img:hover {
	transform: scale(1.5);
  }
  
