@font-face {
    font-family: 'Repro';
    src: url(ABCRepro-Thin-Trial.otf);
}

:root {
	 --spacing: 21px;
	 }

@media (min-width: 768px) {
	:root { --spacing: 32px; }
}

@media (max-width: 768px) {
	main {
		padding-top: 500px;
	} 
	h1 {
		font-size: 21px;

	}

}


body {
    background-color: #F9F9F9;
}


h1 {
    font-family: 'Repro', sans-serif;
	font-weight: 100;
    color:#BCBCBC;
    font-size: 35px;
    line-height: 90%;
	letter-spacing: -0.5px;
}





  .header {
padding: 15px;
padding-bottom: 25px;
	position: fixed;
	width: 100%;
	background-color: #F9F9F9;
	z-index: 1;

	box-shadow: 0px 30px 20px 0px #F9F9F9 ;
	display: grid;
	grid-template-columns: repeat(3, 1fr);

}
	

.image-blocks {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(4 * var(--spacing)), 1fr));
	}




figure {
	overflow: hidden;
	word-break: break-word;
}

figure, img {
  padding: 8%;
}


main {
	/* padding: 4%; */
	padding-top: 100px;
}

figure > img { object-fit: cover; }

.image-block aside {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0, 0.1);
	z-index: 2;
}

.image-block aside > img {
	object-fit: contain;

}

.image-block.active aside {
	display: block;
	display: flex;
	justify-content: center;
}

.image-block aside > p {
	color: white;
}

.full-name, .random {
	font-family: 'Repro', sans-serif;
	font-weight: 300;
    color:#888888;
	line-height: 1.2;
	font-size: 13px;
}


.contributors {
	font-family: 'Repro', sans-serif;
	font-size: 11px;
	color:#BCBCBC;
	padding-bottom: 5px;
	
}


.channel-owner, .channel-collaborator {



}



figure img {
	transition: transform 2s ease-in-out;
	/* transition: opacity 10s ease-in-out ; */
	transition-duration: 1s;
	will-change: transform;
  }
  
figure img:hover {
	transform: scale(1.5);
  }
  
a:hover {
	color: #DB5228;


}

.full-name:hover {
	color: #DB5228;



}	
