@font-face {
    font-family: 'Repro';
    src: url(fonts/ABCRepro-Thin-Trial.otf);
}

:root { --spacing: 16px; }

@media (min-width: 768px) {
	:root { --spacing: 32px; }
}

body {
    background-color: #F9F9F9;
}


h1 {
    font-family: 'Repro', sans-serif;
    color:#DEDEDE;
    font-size: var(--base);
    font-size: 4vw;
    line-height: 80%;
	transform-origin: top left;
}



.title {
	position: fixed;
	top: 50%;
	left: -10%;
	transform: rotate(-90deg);

  }


.image-blocks {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(4 * var(--spacing)), 1fr));

}

li { aspect-ratio: 1; }

figure {
	overflow: hidden;
	word-break: break-word;
}

figure, img {
  padding: 8%;
}

main {
padding: 4%;

}

figure > img { object-fit: cover; }

.image-block aside {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0, 0.75);
	z-index: 2;
	/* padding: calc(var(--spacing) * 2); */

}

.image-block aside > img {
	object-fit: contain;

}

.image-block.active aside {
	display: block;
	display: flex;
	justify-content: center;
}

.image-block aside > p {
	color: white;
}

.full-name{
	font-family: 'Repro', sans-serif;
    color:#DEDEDE;
	line-height: 90%;
	font-size: 2vw;
}

.channel-owner, .channel-collaborator {

padding-left: 5%;
padding-top: 1%;

position: fixed;

}

